<div style='width: 700px; height: 600px; border: 3px solid red; text-align:center; margin:0 auto; '>
  <p><font size="6"><strong>What is player 2's name?</strong></font><p />
  <form action="/pvp/placeships">
    <input type="text" name="name">
    <input type="submit" value ="Submit">
  </form>
  <p><img src='http://3.bp.blogspot.com/-qefib-x68zs/VcJbBh1Sp7I/AAAAAAAAQqw/uClJPCwmLdk/s1600/battleships2.jpg' width="480"></p>
</div>