<div>
  <center>
    <b><u>This is your opponents board.</u></b>
    <% if @coordinates %> 
      <br><br><%= session[:game].player_1.shoot @coordinates.to_sym %>
    <% end %>
    <% if session[:game].has_winner? %>
      <br> Congratulations. You win!
      <br> <a href="/">New Game</a>
    <% end %>
    <pre> <%= session[:game].opponent_board_view(session[:game].player_1) %> </pre>
    <p> <b><u>Enter coordinates to fire upon Player 2's board</u></b> </p>
    <form action="/play" method="post" >
      <input type="text" name="coordinates">
      <input type="submit" value="Fire">
    </form>
  </center>
</div> 