<div>
  <center>
    <h1>Are You ready to play Battleships?</h1>
    <h2><a href="/name_set">New Game</a></h2>
    <p><img src='http://2.bp.blogspot.com/-2R-aWtCYz80/VcDkaezLUOI/AAAAAAAAQoE/OBP5PmYfJlw/s1600/battleships.jpg'></p>
  </center>
</div>