<div style='width: 700px; height: 600px; border: 3px solid red; text-align:center; margin:0 auto; '>
  <p><font size="8"><strong>Are you ready to play Battleships?</strong></font></p>
  <p><font size="6"><a href="/name_set">New Game</a></font></p>
  <p><img src='http://2.bp.blogspot.com/-2R-aWtCYz80/VcDkaezLUOI/AAAAAAAAQoE/OBP5PmYfJlw/s1600/battleships.jpg' width="550"></p>
</div>