<div style='width: 700px; height: 600px; border: 3px solid red; text-align:center; margin:0 auto; '>
        <p><img src='http://1.bp.blogspot.com/-hDO9c3crjNQ/VcJta4MwPEI/AAAAAAAAQrA/FdpJZ1BA_j4/s1600/battleships4.jpg' width="550"></p>
        "Who will fire first?"
        <br>
        <a href='/pvp/play/p1turn'><button type="button"><%=session[:player1]%></button></a> 
        <a href='/pvp/play/p2turn'><button type="button"><%=session[:player2]%></button></a>    
</div>